body {
  margin: 0;
  padding: 0;
  background-image: url(../images/wallpaper.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.textCentre {
  color: gold;

}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;

}

.sitemap {
  color: gold;
  text-align: center;
  font-size: 20px;
}

h1 {
  text-align: center;
  color: gold;
  font-family: 'tangerine', sans-serif;
  font-size: 60px;
  text-decoration: underline;
  text-decoration-color: goldenrod;

  animation-name: h1;
  animation-duration: 8s;
  margin-bottom: 1px;
}

h2 {
  text-align: center;
  color: gold;
  font-family: 'tangerine', sans-serif;
  font-size: 45px;
  animation-name: h1;
  animation-duration: 8s;
  margin-bottom: 1px;
  margin-top: inherit;

}

p.paragraph {
  color: gold;
  animation-name: fade;
  animation-duration: 10s;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

section#map {
  width: 95%;
  height: 400px;
  animation-name: fade;
  animation-duration: 10s;
  margin-left: 10px;

}

/* The side navigation menu */

.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  position: fixed;
  /* Stay in place */
  text-align: center;
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: black;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 70px;
  /* Place content 70px from the top */
  transition: 2s;
  /* 2 second transition effect to slide in the sidenav */
  opacity: .94;
}

/* The navigation menu links */

.sidenav a {
  padding: 20px 8px 10px;
  font-family: 'tangerine', sans-serif;
  font-size: 45px;
  color: crimson;
  display: flex;
  justify-content: center;
  transition: 1.3s;
}

/* When your mouse is over the navigation links, change their color to crimson */

.sidenav a:hover {
  color: gold;
}

/* Position and style the close button */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 100px;
  margin-left: 50px;
}

.navbar {
  color: crimson;
  font-family: 'tangerine', sans-serif;
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  margin-bottom: 10px;
  animation-name: fade;
  animation-duration: 15s;
  cursor: pointer;
  text-decoration-line: underline;

}

.navbar :hover {
  color: gold;
  transition: 1.3s;
}


section#comingSoon {
  text-align: center;
  color: gold;
  font-family: 'tangerine', sans-serif;
  font-size: 50px;
  animation-name: fade;
  animation-duration: 20s;
  text-decoration: underline;
  text-decoration-color: goldenrod;
}


section#Container {
  text-align: center;
  position: relative;
}

.myslides img {
  width: 95%;
  height: auto;
  border-radius: 15px;
  border: 2px solid black;
  animation-name: slideshow;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  transition: 1s;

}

section#images {
  text-align: center;
  position: relative;
}

.Slides img {
  width: 95%;
  height: auto;
  border-radius: 15px;
  border: 2px solid black;
  animation-name: fade;
  animation-duration: 5s;
  transition: 2s;

}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  top: 14%;
  width: 0;
  padding: 65px;
  color: gold;
  font-weight: bold;
  font-size: 20px;
  transition: 1.3s;
  animation-name: fade;
  animation-duration: 5s;
  transition: 2s;
}


/* On hover, add gold */

.prev:hover,
.next:hover {
  color: crimson;
}

.thumbnail {
  width: 50%;
  height: 100px;
  margin-top: 5px;
  border-radius: 15px;
  border: 2px solid black;
  animation-name: fade;
  animation-duration: 5s;
  transition: 2s;
}

section#thumbnail-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

section#video {
  text-align: center;
  margin-top: 50px;
}

.video {
  width: 95%;
  height: 420px;

}


/*media query, desktop*/

@media only screen and (min-width:600px) {
  h1 {
    text-align: center;
    font-family: 'tangerine', sans-serif;
    font-size: 50px;
  }

  .myslides img {
    width: 50%;
    border-radius: 15px;
    border: 2px solid black;
    transition: 2s;
  }

  .Slides img {
    width: 50%;
    height: auto;
    border-radius: 15px;
    border: 2px solid black;
    transition: 2s;
  }
  .thumbnail {
    width: 10%;
    height: 10%;
    transition: 2s;

  }
  section#thumbnail-container {
    display: flex;
    flex-direction: row;
    transition: 2s;
  }
  p.paragraph {
    color: white;
    text-align: center;

  }
  section#map {
    width: 50%;
    height: 400px;
    margin-left: 25%;
    margin-right: 25%;
  }

  .video {
    width: 50%;
    height: 420px;

  }

  footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    text-align: center;
  }

  section#comingSoon {
    text-align: center;
    color: gold;
    font-family: 'tangerine', sans-serif;
    font-size: 50px;
    animation-name: fade;
    animation-duration: 20s;

  }

}

@keyframes slideshow {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }


}

@keyframes h1 {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;

  }

}
