body {
  margin: 0;
  padding: 0;
  background-image: url(images/wallpaper.jpg);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  text-align: center;
  color: gold;
  font-family: 'tangerine', sans-serif;
  font-size: 60px;
  animation-name: h1;
  animation-duration: 8s;
  margin-bottom:10px;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
  text-align: center;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: black; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 70px; /* Place content 60px from the top */
    transition: 2s; /* 0.5 second transition effect to slide in the sidenav */
  opacity: .9;
}

/* The navigation menu links */
.sidenav a {  
    padding: 20px 8px 10px;
font-family: 'tangerine', sans-serif;
  font-size: 45px;
    color: gold;
    display: flex;
  justify-content: center;
    transition: 1.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color:crimson;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 50px;
    margin-left: 50px;
}

.navbar {
  color: gold;
  font-family: 'tangerine',sans-serif;
  font-size: 50px;
  display: flex;
  justify-content:center;
  padding-bottom: 15px;
  margin-bottom: 10px;
  animation-name: fade;
  animation-duration: 15s;
  cursor:pointer;
}

.navbar :hover{
  color:red;
  transition: 1.3s;
}


section#comingSoon {
  text-align: center;
  color: gold;
  font-family: 'tangerine', sans-serif;
  font-size: 50px;
  animation-name: fade;
  animation-duration: 20s;
}

section#Container {
  text-align: center;
  position: relative;
}

.myslides img {
  width: 95%;
  height: auto;
  border-radius: 15px;
  border: 2px solid black;
  animation-name: slideshow;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  transition: 1s;

}

@media only screen and (min-width:600px) {
  h1 {
    text-align: center;
    font-family: 'tangerine', sans-serif;
    font-size: 50px;
  }

  .myslides img {
    width: 50%;
    border-radius: 15px;
    border: 2px solid black;
    transition: 2s;
  }
}

@keyframes slideshow {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }


}

@keyframes h1 {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;

  }
}
