body {
        margin: 0;
        padding: 0;
        background-image: url(/images/wallpaper.jpg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
    }

h1{
    text-align: center;
    color:white;
    font-family:'tangerine', sans-serif;
    font-size: 50px;
  animation-name: h1;
    animation-duration: 10s;
}

section#Container {
   text-align: center;
   position: relative;
    }

.myslides img{
    width: 95%;
    height: auto;
    border-radius: 15px;
    border: 2px solid black;
  animation-name: slideshow; 
    animation-duration: 5s; 
    animation-iteration-count:infinite;
  transition: 1s;
  
}

.dot {
  cursor:pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1.6s ease;
}

.active, .dot:hover {
  background-color: red;
}

@media only screen and (min-width:600px)
{
  h1{
      text-align: center;
    color:white;
    font-family:'tangerine', sans-serif;
    font-size: 50px;
  }
    
.myslides img{
    width: 75%;
    border-radius: 15px;
    border: 2px solid black;
  transition: 2s;
}
}

@keyframes slideshow {
  0%, 100%{ opacity: 0.2 }
  100% { opacity: 1 }


}
@keyframes h1 {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


